<mat-form-field appearance="fill">
  <mat-label>Select an option</mat-label>
  <mat-select [(value)]="selected" (selectionChange)="repoChange()">
    <mat-option *ngFor="let rep of repos" [value]="rep">
      {{rep.name}}
  </mat-option>
  </mat-select>
</mat-form-field>

<p>You selected: {{selected.name}}</p>


<button  (click)="openDialog()"  mat-button>Add competence</button>
<button  (click)="openDialogUeber()"  mat-button>Add uebercompetence</button>
<br>
Kompetenzen   
<li *ngFor="let competence of competencies">
  
  <a routerLink="/comp/{{competence.id}}">
        <span class="badge">{{competence.id}}</span> {{competence.skill}}
      </a>
  </li>
  <br>
  Überkompetenzen
  <li  *ngFor="let ueber_competence of ueber_competencies">
    <a routerLink="/uebercomp/{{ueber_competence.id}}">
        <span class="badge">{{ueber_competence.id}}</span> {{ueber_competence.name}}
      </a>
  </li>
