<mat-form-field appearance="fill">
<mat-label>Select an option</mat-label>
<mat-select [(value)]="selected" (selectionChange)="repoChange()">
  <mat-option *ngFor="let rep of repos" [value]="rep">
    {{rep.name}}
</mat-option>
</mat-select>
</mat-form-field>

<p>You selected: {{selected.name}}</p>

<button (click)="openDialog()" mat-button>Add LO</button>
<button (click)="openDialogGroup()" mat-button>Add LO Group</button>
<br>
Learning Object
<li *ngFor="let lo of los">
  <a routerLink="/los/{{lo.id}}">
    <span class="badge">{{lo.id}}</span> {{lo.name}}
  </a>
</li>
<br>

Learning Object Group
<li *ngFor="let lo of losGroups">
  <a routerLink="/losGroup/{{lo.id}}">
    <span class="badge">{{lo.id}}</span> {{lo.name}}
  </a>
</li>