<app-header></app-header>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<h1>{{title}}</h1>
<div class="mat-app-background basic-container">
<nav>
    <a mat-button routerLink="/login">LOGIN</a>
    <a mat-button routerLink="/repo">Repositories</a>
    <a mat-button routerLink="/competencies">Lernziele und oder Inhalte</a>
    <a mat-button routerLink="/los">Learning Objects</a>
    <a mat-button routerLink="/graph">Graph Competencies</a>
    <a mat-button routerLink="/graphLOC">Graph Competencies + LO</a>
    <a mat-button routerLink="/pathViewer">PathViewer</a>    
  </nav>
<router-outlet></router-outlet>
</div>